html,body,div,p,form,ul,li,ol,dl,dt,dd,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
  margin:0;
  padding:0;

}
body{
  font-family:"Microsoft Yahei",Arial;
  background:#f0f0f0;
}
//html{
//  overflow:hidden;
//}
a{
  text-decoration:none;
}
ul,li{
  list-style:none;
}
img{
  border:none;
}


/*-------------------------------------------header*/

header{
  width: 100%;
  height:126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background:white;
  top: 0;
  left: 0;
  box-shadow: rgb(222, 222, 222) 0  0 16px;
  z-index:20;
  .headerCenter{
    height:100%;
    width:1082px;
    margin: 0 auto;
    position: relative;
    color: #878787;
    img{
      height:48px;
      float: left;
      position: relative;
      left:0;
      top:40px;
    }
    .navs{
      position: relative;
      top:50px;
      left:150px;
      float: left;
      height:auto;
      width:620px;
      a{
        font-size:14px;
        color: #878787;
        font-weight: 600;
      }
      i{
        display:inline-block;
        height:12px;
        width:2px;
        position: relative;
        top:2px;
        margin-left:20px;
        margin-right:10px;
        background:#878787;
      }
    }
    #indexLogin{
      float: right;
      height: 30px;
      width:100px;
      font-size: 12px;
      margin-top:12px;
      background-color: #00338D;
      border-radius: 15px 15px;
      color: white;
      text-align: center;
      line-height: 30px;
    }
    .searchForm{
        height:25px;
        width:175px;
        position: absolute;
        right:0;
        top:45px;
        input{
          outline:none;
        }
        input:first-child{
          width:168px;
          height:23px;
          border:1px solid #878787;
          padding-left:5px;
        }
        input:last-child{
          height:23px;
          width:23px;
          border:none;
          position: absolute;
          right:1px;
          top:1px;
          background-color:#43b02a;
          background-size:20px 20px;
          background-image: url('../../image/search.png');
          background-repeat: no-repeat;
          background-position:2px 2px;
          cursor: pointer;
        }
    }

  }
}
#list{
  position: absolute;
  right:0;
  display:none;
  cursor: pointer;
}
.swiper-container{
  width:1082px;
  margin:0 auto;
  position: relative;
  top:26px;
}
.swiper-slide,.swiper-slide img{
  width: 100%;
  height: 100%;
}
//---------------------------header  @media
@media screen and (max-width:1082px){
  header{
    width:100%;
    .headerCenter{
      width: 100%;
      .navs{
        display:none;
      }
      #indexLogin{
        display:none;
      }
      .searchForm{
        display:none;
      }
    }
  }
  #list{
    display:block;
  }
  .swiper-container{
    width:100%;
    .swiper-wrapper{
      width:100%;
      img{
        width: 100%;
      }
    }
  }
}
// -------------------------------------header @media 900px
@media screen and (max-width:900px){
  header{
    height:57px;
    .headerCenter{
      img{
        top:5px;
      }
    }
  }
}
// -------------------------------------header @media 600px
@media screen and (max-width:600px){
  header{
    height:30px;
    .headerCenter{
      img{
        top:5px;
        height:24px;
      }
    }
  }

}
//-------------------------------------------------------------------------content
.content{
  width: 1082px;
  display: flex;
  margin:40px auto;
  margin-bottom: 20px;
  img{
    display:block;
  }
  .contentL{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    margin-right:20px;
    span{
      display: block;
      color: #00338D;
      font-size:16px;
      margin-bottom:10px;
    }
    p{
      color: #333333;
      font-size:13px;
    }
  }
  .contentC{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    margin-right:20px;
    span{
      display:block;
      width:237px;
    }
    span:nth-child(1){
      color: #f68d2e;
      font-size: 22px;
      font-weight:400;
    }
    span:nth-child(2){
       color: #00338D;
       font-size: 16px;
       margin-top:5px;
     }
    span:nth-child(3){
      color: #333333;
      font-size: 14px;
      margin-top:5px;
      font-weight:400;
    }
  }
  .contentR{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    span{
      display: block;
      color: #00338D;
      font-size:22px;
      margin-bottom:15px;
    }
    b{
      display:inline-block;
      height:32px;
      width:32px;
      background-size: 32px 32px;
      cursor: pointer;
      margin-right:10px;
    }
  }
}
.content2{
  width: 1082px;
  display: flex;
  margin:0 auto;
  .contentL2{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    margin-right:20px;
    span{
      display: block;
      color: #00338D;
      font-size:16px;
      margin-bottom:10px;
    }
    p{
      color: #333333;
      font-size:13px;
    }
  }
  .contentC2{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    margin-right:20px;
    a{
      display:block;
      width:237px;
      color: #00338D;
      font-size: 16px;
      margin-top:5px;
    }
    b{
      display:block;
      width:237px;
      color: #333333;
      font-size: 14px;
      margin-top:5px;
      font-weight: normal;
    }
  }
  .contentR2{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
  }
}
.content3{
  width: 1082px;
  display: flex;
  margin:40px auto;
  padding:10px 0 10px 0;
  background-color: #f6f6f6;
  div{
    flex:1;
    width:100%;
    padding:10px;
    background-color: white;
    margin-right:20px;
    span{
      width:100%;
      display: block;
      color: #00338D;
      font-size:16px;
      margin-bottom:10px;
    }
    img{
      display:inline-block;
      float: left;
      width:95px;
    }
    .jan12{
      display:block;
      width:95px;
    }
    p{
      display:inline-block;
      float: left;
      width:100%;
      color: #333333;
      font-size: 14px;
      margin-left:10px;
      font-weight: normal;
    }
    li{
      display:block;
      width:100%;
      float: left;
      color: #333333;
      font-size: 14px;
      margin-top:5px;
      font-weight:400;
      font-style: normal;
    }
  }
  .content31{

  }
}
//----------------------------------content @media
@media screen and (max-width:1082px){
  .content {
    width: 100%;
    .contentL {
      width: 100%;
      margin-right:0;
      img{
        width:100%;
      }
    }
    .contentC{
      display:none;
    }
    .contentR{
      display:none;
    }
  }
  .content2{
    width: 100%;
    .contentL2{
      width:100%;
      margin-right:0;
      img{
        width: 100%;
      }
    }
    .contentC2{
      display:none;
    }
    .contentR2{
      display:none;
    }
  }
  .content3{
    width:100%;
    .content31{
      width:40%;
      margin:0 10px 0 10px;
    }
    .content32{
      width:50%;
      margin:0 10px 0 10px;
      padding:0;
    }
    .content33{
      display:none;
    }
    .content34{
      display:none;
    }
  }
}
// --------------------------------------------------------------------------footer
.linkedIn{
  background-image:url("../../image/linkedin.png");
  background-color: #0077B5;
}
.twitter{
  background-image:url("../../image/twitter.png");
  background-color: #55ACEE;
}
.facebook{
  background-image:url("../../image/facebook_icon.png");
  background-color: #3B5998;
}
.wechat{
  background-image:url("../../image/wechat.png");
  background-color: #7BB32E;
}
.webo{
  background-image:url("../../image/sina.png");
  background-color: #E92224;
}
.footer{
  width:100%;
  height:154px;
  border-top:5px solid #0091da;
  background: white;
  position: absolute;
  //bottom:0px;
  .footerT{
    height:90px;
    width:1082px;
    margin:0 auto;
    background: white;
    a{
      font-size:14px;
      color:#535353;
      margin-right:50px;
      vertical-align: middle;
      cursor: pointer;
    }
    a:first-child{
      margin-left:10px;
    }
    .lasta{
      margin-right:83px;
    }
    b{
      display:inline-block;
      height:32px;
      width:32px;
      margin-top: 30px;
      background-size: 32px 32px;
      margin-right:20px;
      cursor: pointer;
    }
  }
  .footerB{

    width:100%;
    background:#dedede;
    p{
      width:1082px;
      margin:0 auto;
      padding: 10px 0 10px 0;
      font-size:12px;
      color:#535353;
    }
  }
}
//----------------------------------footer @media
@media screen and (max-width:1082px){
  .footer{
    .footerT{
      width:100%;
      a{
        display:none;
        margin:auto;
      }
      b{
        margin-right:8.5%;
      }
      .linkedIn{
        margin-left:10%;
      }
    }
    .footerB{
      p{
        width:100%;
        display:flex;
      }
    }
  }
}
@media screen and (max-width:400px){
  .footer{
    .footerT{
      b{
        margin-right:5px;
      }
    }
  }
}

//-----------------------------------------------------------xys box
.xys{
  display: none;
  position: fixed;
  left:0;
  right:0;
  top:126px;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  opacity:1;
  z-index: 999;
  ul{
    width:100%;
    height:100%;
    background-color:white;
    overflow-y:auto;
  li{
    width:100%;
    flex:1;
    height:60px;
    border-bottom:6px solid #dedede;
    p{
      line-height:60px;
      margin-left:20px;
      color:#00338D;
    }
  }
  li:nth-child(1){
    border-top:6px solid #dedede;
    .reg{
      display:inline-block;
      height:100%;
      width:48%;
      border-right:4px solid #dedede;
      text-align: center;
      img{
        margin-top:10px;
        height:40px;
        width:40px;
        cursor: pointer;
      }
    }
    .log{
      display:inline-block;
      height:100%;
      width:48%;
      text-align:center;
      img{
        margin-top:10px;
        height:40px;
        width:40px;
        cursor: pointer;
      }
    }
  }
  li:last-child{
    border-bottom:12px solid #dedede;
  }
}
}
@media screen and (max-width:1082px) {
  .xys{
    top:126px;
  }
}
@media screen and (max-width:900px) {
  .xys {
    top: 57px;
  }
}
  @media screen and (max-width: 600px) {
    .xys {
      top: 30px;
    }
}

